/********************************************
				    LAYOUT GENERAL SETTINGS
 ********************************************/
 #modal1 { max-width: 450px; }

/***** Palette *****/
.primary { background: #007EE5 !important; }

/***** Buttons Settings *****/
.btn-primary, .btn-primary:hover, .btn-primary:focus  {
  background: #007EE5;
  color: #FFFFFF;
}

.btn-flat, .btn-flat:hover, .btn-flat:focus  {
  background: none;
  color: #007EE5;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
}

.name {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 50px;
    font-size: 20px;
    color: #039BE5;
}


/***** Desktop Media *****/
@media only screen and (min-width : 992px) {
  /* General */
  .desktop {
    margin-left: 280px;
    margin-right: 20px;
    margin-top: 30px;
  }

  .desktop h4 { margin-left: 20px; }


  /* Show - Create pages */
  #add { top: 140px; right: 60px; }
  #cancel { top: 140px; right: 130px; }
  #add .btn-floating { background: #007EE5; }
  #cancel .btn-floating { background: #F44336; }
    #list .container{
        width: 40%;
    }
}

/***** Tablet & Mobile Media *****/
@media only screen and (max-width : 992px) {
   /* General */
   .desktop h4, .divider, .linker { display: none; }

   /* Show - Create pages */
   #add { bottom: 45px; right: 20px;}
   #add .btn-floating { background: #F44336; }
   #cancel { display: none; }
    #list .container {
        width: 60%;
    }
}

@media only screen and (max-width: 600px){
    #list .container {
        width: 80%;
    }
}

/***** Large/Small Top Nav Bar Reset *****/
#large-top-nav { background: none;  box-shadow: none !important; -webkit-box-shadow:none !important; }
#small-top-nav { box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

/***** Large Navigation Bar *****/
/*
#large-top-nav {  border-bottom: 2px solid #E0E0E0; background: none;  box-shadow: none !important; -webkit-box-shadow:none !important; }
.desktop-nav li a {
  color: #E0E0E0;
  font-size: 14px;
}

.desktop-nav li:hover {
  background: #15A4FA;
}

.desktop-nav li a:hover {
  color: #FFFFFF;
}
*/

/***** Small Navigation Bar *****/
.nav-wrapper .button-collapse i { font-size: 25px; margin-left: 30px; }
.nav-wrapper .mobile-right { float: right; position: relative; z-index: 1; }
.nav-wrapper .mobile-right i { margin-right: 30px; font-size: 25px; height: 56px; line-height: 56px; }

/***** Side Menu *****/
.nav-wrapper #nav-desktop { background: #31475A; }
.menu-header { text-align: center; background: #007EE5; }
.menu-header img { width: 100px; margin-top: 30px; }
.menu-profile { margin-top: 20px; text-align: center;}
.menu-profile img{ width: 100px; margin-bottom: 0px; }

#nav-mobile i, #nav-desktop i { font-size: 15px; height: 50px; line-height: 50px; }

.side-nav .menu-mobile a, .side-nav .menu-desktop a {
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
}

.side-nav .menu-mobile a, #nav-mobile i { color: #444; }
.side-nav .menu-desktop a, #nav-desktop i,
.side-nav .menu-desktop ul.collapsible-accordion .collapsible-body li a { color: #A5B6C3; /*font-weight: bold; */}
.side-nav .menu-desktop li.active a, .side-nav .menu-desktop a:hover { color: #FFFFFF; }
.side-nav .menu-desktop li:hover, .side-nav .menu-desktop li.active { background: #343C48; border-right: 4px solid #007EE5; }

.side-nav .menu-desktop li.etiquette, .side-nav .menu-mobile li.etiquette {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 30px;
  margin-top: 14px;
  font-weight: bold;
}

.side-nav .menu-desktop li.etiquette { color: #607A99; }
.side-nav .menu-mobile li.etiquette { color: #444; }
.side-nav .menu-desktop li.etiquette:hover, .side-nav .menu-mobile li.etiquette:hover { background: none; border-right: none; }
.side-nav .menu-desktop ul.collapsible-accordion .collapsible-body { background: #31475A; margin-left: 5px;}
.side-nav .menu-mobile ul.collapsible-accordion .collapsible-body { margin-left: 5px; }
.side-nav .menu-desktop ul.collapsible-accordion, .side-nav .menu-mobile ul.collapsible-accordion { margin-left: -8px; }

/********************************************
 				      DASHBOARD SETTINGS
********************************************/
.mobile-tittle {
  margin-left: 20px;
  font-size: 18px;
  font-style: bold;
}

/********************************************
				       TABLES SETTINGS
 ********************************************/
td a { color: #444; }
td .buttons .btn-flat,
.buttons button[type=submit]{ padding: 3px; }

/********************************************
				      SHOW SETTINGS
 ********************************************/
.show { margin-top: 40px;}

/********************************************
 				      CREATE SETTINGS
********************************************/
/***** Form *****/
.input-field { margin-bottom: 10px; }
.input-field .prefix { color: #039BE5; }        /*Light blue*/
.input-field .prefix.active { color: #007EE5; }
.input-field label { color: #9E9E9E; }
input[type=text]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label {
     color: #9E9E9E;                               /*Gray for inputs*/
 }

input[type=text], input[type=email], input[type=number] { color: #9E9E9E; border-bottom: 1px solid #9E9E9E; }

input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=number]:focus:not([readonly]){
  color: #9E9E9E;
  border-bottom: 1px solid #007EE5;
}

input[type=text].valid, input[type=text]:focus.valid,
input[type=email].valid, input[type=email]:focus.valid,
input[type=number].valid, input[type=number]:focus.valid {
    border-bottom: 1px solid #039BE5;
    box-shadow: 0 1px 0 0 #039BE5;
}

[type="checkbox"]:checked + label:before { border-right: 2px solid #039BE5; border-bottom: 2px solid #039BE5; }
[type="radio"]:checked + label:after { border: 2px solid #039BE5; background-color: #039BE5; }

#radiobuttons i { color: #039BE5;}


/***** Warning Box *****/
.warning-box {
    background: #E0717C;
    color: #F4F7FE;
    text-align: center;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
}

.warning-box i {
    font-size: 40px;
    vertical-align: -12px;
    margin-right: 20px;
}

.warning-box span.ups {
    font-weight: bold;
    font-size: 18px;
}