/********************************************
				      REGISTRATION SETTINGS
 ********************************************/
 body {
  background: #007EE5;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@media only screen and (max-width : 410px) {
  .page-footer .left { display: none; }
}

/***** Buttons Settings *****/
  /***** Primary *****/
.btn-primary, .btn-primary:hover, .btn-primary:focus {
  width: 100%;
  background: #FFFFFF;
  color: #007EE5;
}

/***** Navbar *****/
nav {
  background: #007EE5 !important;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
}

.brand img {
  width: 150px;
  margin-left: 30px;
  margin-top: 5px;
}

.nav-wrapper .hide-on-small-only {
  margin-right: 30px;
}

.nav-wrapper .hide-on-small-only li:hover {
  background: none;
}

/***** Form *****/
form {
  max-width: 350px;
}

.input-field label,
.input-field .prefix.active,
input[type=text]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=checkbox]+label {
  color: #FFFFFF;
}

input[type=text],
input[type=email],
input[type=password] {
  border-bottom: 1px solid white;
}

input[type=text].valid, input[type=text]:focus.valid,
input[type=email].valid, input[type=email]:focus.valid,
input[type=password].valid, input[type=password]:focus.valid  {
  border-bottom: 1px solid #4FCA1E;
  box-shadow: 0 1px 0 0 #4FCA1E;
}

input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #FFFFFF;
  box-shadow: none !important;
  -webkit-box-shadow:none !important;
}

[type="checkbox"] + label:before {
  border: 2px solid #FFFFFF;
}

[type="checkbox"]:checked + label:before {
border-right: 2px solid #FFFFFF;
border-bottom: 2px solid #FFFFFF;
}

.input-field .prefix ~ label {
  margin-left: 4rem;
}

/***** Footer *****/
.page-footer {
  background: #007EE5 !important;
  padding: 30px;
}

.page-footer a{
  color: #FFFFFF;
  margin-right: 10px;
}
