/***** secundary *****/
.btn-secundary, .btn-secundary:hover, .btn-secundary:focus {
    background: #007EE5;
    color: #FFF;
}

/***** Checkbox *****/
[type="checkbox"]:checked + label:before { border-right: 2px solid #039BE5; border-bottom: 2px solid #039BE5; }
[type="checkbox"].filled-in:checked+label:after {
    top: 0px;
    width: 20px;
    height: 20px;
    border: 2px solid #039BE5;
    background-color: #039BE5;
    z-index: 0;
}

label {
    color: black;
}

/***** Warning Box BLUE*****/

/***** Warning Box *****/
.warning-box i {
    font-size: 40px;
    vertical-align: -12px;
    margin-right: 20px;
}

#warning_box {
    background: #007EE5;
    color: #F4F7FE;
    text-align: center;
    font-size: large;
    font-weight: lighter;
    margin: 30px auto;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
}

/******Dropdown*****/
.dropdown-content button{
    color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    background-color: transparent;
    border: transparent;
}

/**************************************
				          INPUTS
 ********************************************/
input{
    text-align: center;
}

/***** Inputs icons******/
#date i{
    color: #007EE5;
}

#date input {
    border-bottom: 1px solid #007EE5;
}

/***** Download dropdown******/
.dropdown-content button {
    padding: 1rem 1rem;
    color: #007EE5;
    font-weight: 400;
}

.dropdown-content li > a {
    text-align: center;
    font-weight: 400;
}